*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.star{
    border: none;
    background-color: unset;
    color: gold;

    
}
.type-1{
    background-color: antiquewhite;

}
.type-1 p{
    text-align: center;
}